* {
  font-family: 'Roboto', sans-serif;
}

.timeable {
  width: 100%;
  text-align: center;
}

.timeable th, td{
  border-bottom: 1px solid #ddd;
}

.timeable tr:hover {
  background-color: #f5f5f5;
}

.timeable thead td {
  font-weight: bold;
}

.readonlyDoc {
  display: none !important;
}

.displayName {
  text-transform: none !important;
}
